@charset "utf-8";
/* CSS Document */

/* code for fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}
p, div {
    font-family: 'Open Sans';
}
/* end code for fonts */

/* Colors:
 * L-grey:	#E7E8D1; NOT USED
 * Brown:	#D3CEAA;
 * Tan: 	#FBF7E4;
 * D-grey:  #424242;
 * Red: 	#8E001C;
 * end code for colors */

/********************\
        Global
\********************/

body {
	background-color: #FBF7E4;
}

body > .container {
	padding-top: 30px;
}

/********************\
        Header
\********************/
header {
	position: relative;
	left:	0;
	right:	0;
	height: 50px;
	padding: 0;
	margin-bottom: 15px;
	background-color: #8E001C;
	-webkit-box-shadow: .0625em .3125em .625em #888;
       -moz-box-shadow: .0625em .3125em .625em #888;
    		box-shadow: .0625em .3125em .625em #888;
}

header h2 {
	line-height: 50px;
	margin: 0;
	color: white;
}

/********************\
        Footer
\********************/
footer {
	position: relative;
	left:	0;
	right:	0;
	height:	50px;
	background-color: #424242;
	padding: 0;
}

footer p {
	line-height: 50px;
	margin: 0;
	color: white;
}

footer a {
	color: white;
}

/********************\
      Left Side
\********************/

div.sideContent {
	border:			3px solid #8E001C;
	padding:		10px;
	padding-top:	0;
	margin-bottom:	10px;
	background-color: #FFF;
	-webkit-box-shadow: .0625em .3125em .625em #888;
       -moz-box-shadow: .0625em .3125em .625em #888;
    		box-shadow: .0625em .3125em .625em #888;
}
.sideHeader {
	background-color: #8E001C;
	margin:			0;
	margin-bottom:	5px;
	margin-left:	-10px;
	margin-right:	-10px;
	padding:		2px;
	padding-bottom:	5px;
	color: white;
}

.sideHeader a {
	color: white;
	text-decoration: none;
}

.sideContent ul {
	padding-left: 15px;
	margin-bottom: 0px;
}

.btn-danger {
	background-color: #8E001C;
    border-color: #8E001C;
	margin-bottom: 10px;
	border-radius: 0px;
	-webkit-box-shadow: .0625em .3125em .625em #888;
       -moz-box-shadow: .0625em .3125em .625em #888;
    		box-shadow: .0625em .3125em .625em #888;
}

.btn-danger:hover {
  background-color: #D3CEAA;
}

/********************\
     Main Content
\********************/

.mainHeader a {
	color: white;
	text-decoration: none;
}

div.mainContent {
	border: 3px solid #424242;
	padding: 10px;
	margin-bottom: 10px;
	padding-top: 0;
	background-color: #FFF;
	-webkit-box-shadow: .0625em .3125em .625em #888;
       -moz-box-shadow: .0625em .3125em .625em #888;
    		box-shadow: .0625em .3125em .625em #888;
}

.mainHeader {
	background-color: #424242;
	margin:			0;
	margin-bottom:	5px;
	margin-left:	-10px;
	margin-right:	-10px;
	padding:		2px;
	padding-bottom:	5px;
	color: white;
}