<header></header>
<div class="row">
    <div class="col-sm-6">
        <div class="mainContent">
            <h3 class="mainHeader">Morning Shuttle DC - Fremont</h3>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Departs&nbsp;DC</th>
                        <th>Evelyn</th>
                        <th>Sunnyvale</th>
                        <th>Arrives&nbsp;Fremont</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>&nbsp;       </td> <td>             </td> <td>             </td> <td>             </td></tr>
                    <tr><td>6:15&nbsp;AM </td> <td>6:35&nbsp;AM </td> <td>             </td> <td>6:50&nbsp;AM </td></tr>
     <tr class="danger"><td>7:15&nbsp;AM </td> <td>7:35&nbsp;AM </td> <td>             </td> <td>8:00&nbsp;AM </td></tr>
     <tr class="danger"><td>8:15&nbsp;AM </td> <td>8:35&nbsp;AM </td> <td>8:45&nbsp;AM </td> <td>9:10&nbsp;AM </td></tr>
     <tr class="danger"><td>9:15&nbsp;AM </td> <td>9:35&nbsp;AM </td> <td>             </td> <td>10:00&nbsp;AM</td></tr>
                    <tr><td>10:15&nbsp;AM</td> <td>             </td> <td>10:35&nbsp;AM</td> <td>11:00&nbsp;AM</td></tr>
                    <tr><td>11:15&nbsp;AM</td> <td>             </td> <td>11:35&nbsp;AM</td> <td>12:00&nbsp;AM</td></tr>
                    <tr><td>12:15&nbsp;PM</td> <td>             </td> <td>12:35&nbsp;AM</td> <td>1:00&nbsp;PM </td></tr>
                    <tr><td>1:15&nbsp;PM </td> <td>             </td> <td>1:35&nbsp;PM </td> <td>2:00&nbsp;PM </td></tr>
                    <tr><td>2:15&nbsp;PM </td> <td>             </td> <td>2:35&nbsp;PM </td> <td>3:00&nbsp;PM </td></tr>
                    <tr><td>3:15&nbsp;PM </td> <td>3:35&nbsp;PM </td> <td>             </td> <td>4:00&nbsp;PM </td></tr>
                    <tr><td>4:15&nbsp;PM </td> <td>             </td> <td>4:35&nbsp;PM </td> <td>5:15&nbsp;PM </td></tr>
                    <tr><td>5:30&nbsp;PM </td> <td>5:55&nbsp;PM </td> <td>             </td> <td>6:25&nbsp;PM </td></tr>
                    <tr><td>6:30&nbsp;PM </td> <td>             </td> <td>6:55&nbsp;PM </td> <td>7:15&nbsp;PM </td></tr>
                    <tr><td>7:30&nbsp;PM </td> <td>7:50&nbsp;PM </td> <td>             </td> <td>8:15&nbsp;PM </td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="mainContent">
            <h3 class="mainHeader">Afternoon Shuttle Fremont - DC</h3>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th width="25%">Departs&nbsp;Fremont</th>
                        <th width="25%">Sunnyvale</th>
                        <th width="25%">Evelyn</th>
                        <th width="25%">Arrives&nbsp;DC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>5:15&nbsp;AM </td> <td>             </td> <td>             </td> <td>5:50&nbsp;AM </td></tr>
                    <tr><td>6:15&nbsp;AM </td> <td>             </td> <td>6:35&nbsp;AM </td> <td>6:50&nbsp;AM </td></tr>
                    <tr><td>7:15&nbsp;AM </td> <td>7:35&nbsp;AM </td> <td>             </td> <td>7:55&nbsp;AM </td></tr>
                    <tr><td>8:15&nbsp;AM </td> <td>             </td> <td>8:35&nbsp;AM </td> <td>9:00&nbsp;AM </td></tr>
                    <tr><td>9:15&nbsp;AM </td> <td>             </td> <td>9:35&nbsp;AM </td> <td>10:00&nbsp;AM</td></tr>
                    <tr><td>10:15&nbsp;AM</td> <td>10:50&nbsp;AM</td> <td>             </td> <td>11:10&nbsp;AM</td></tr>
                    <tr><td>11:15&nbsp;AM</td> <td>11:35&nbsp;AM</td> <td>             </td> <td>11:50&nbsp;AM</td></tr>
                    <tr><td>12:15&nbsp;PM</td> <td>12:35&nbsp;PM</td> <td>             </td> <td>12:50&nbsp;PM</td></tr>
                    <tr><td>1:15&nbsp;PM </td> <td>1:35&nbsp;PM </td> <td>             </td> <td>2:00&nbsp;PM </td></tr>
                    <tr><td>2:15&nbsp;PM </td> <td>2:35&nbsp;PM </td> <td>             </td> <td>2:50&nbsp;PM </td></tr>
     <tr class="danger"><td>3:15&nbsp;PM </td> <td>3:35&nbsp;PM </td> <td>3:45&nbsp;PM </td> <td>4:05&nbsp;PM </td></tr>
     <tr class="danger"><td>4:15&nbsp;PM </td> <td>             </td> <td>4:35&nbsp;PM </td> <td>5:00&nbsp;PM </td></tr>
     <tr class="danger"><td>5:30&nbsp;PM </td> <td>5:55&nbsp;PM </td> <td>6:05&nbsp;PM </td> <td>6:25&nbsp;PM </td></tr>
                    <tr><td>6:30&nbsp;PM </td> <td>6:55&nbsp;PM </td> <td>7:05&nbsp;PM </td> <td>7:25&nbsp;PM </td></tr>
                    <tr><td>7:30&nbsp;PM </td> <td>             </td> <td>7:55&nbsp;PM </td> <td>8:15&nbsp;PM </td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>